/* necessities */
html {
   scroll-behavior: smooth;
   color: darkred;
}
body {
   background-color: #fefdf8;
   margin: 0;
}
.hidden {
   display: none;
}

/* common styles */
.box-outer {
   padding-top: 64.8px;
}
.box-inner {
   min-height: 10vh;
   height: fit-content;
   margin: 0;
   padding: 20px;
   top: 80px;
}
h3 {
   text-align: center;
   font-size: 28px;
   margin-top: 0;
   margin-bottom: 0.5em;
}

/* navbar */
nav {
   position: sticky;
   top: 0;
   height: max-content;
   background-color: bisque;
   text-align: center;
   padding: 10px;
   font-size: 20px;
   z-index: 3;
}
nav a {
   padding: 10px;
}
.profpic {
   width: 40px;
   border-radius: 40px;
   transform: rotateY(180deg);
}

/* page header */
.header {
   background-image: url(media/rick_local.jpg);
   background-size: cover;
   background-position-y: center;
   height: 100vh;
}

#to-top {
   position: fixed;
   right: 40px;
   bottom: 40px;
   background-color: bisque;
   font-size: 40px;
   text-decoration: none;
   z-index: 5;
   padding: 0.3em 0.35em;
   border: 2px solid firebrick;
   aspect-ratio: 1/1;
}

/* footer */
#footer .box-inner {
   display: flex;
   background-color: antiquewhite;
   text-align: center;
   font-size: 20px;
}
#footer a {
   display: inline-block;
   width: min-content;
   text-decoration: none;
   padding: 10px;
}
#footer a i {
   font-size: 80px;
}
#footer a span {
   font-size: 16px;
}
.footer-elm {
   margin: 0 2%;
}
.footer-links {
   width: 24%;
}
.map {
   display: flex;
   width: 68%;
}
#sch-loc {
   padding: 0 60px;
   flex-grow: 1;
   min-height: 40vh;
}

/* box 1 */
#box1 .box-inner {
   background-color: blanchedalmond;
}
.img-holder {
   display: flex;
   place-content: center;
   flex-direction: row;
   height: inherit;
   width: inherit;
}
.box1-inner {
   display: flex;
   flex-grow: 1;
   height: 40vh;
   margin: 0 10px;
   background-position: 50%;
   cursor: pointer;
}
.box1-inner::after {
   content: "";
   display: flex;
   flex-grow: 1;
   width: inherit;
   position: relative;
   top: 0;
   left: 0;
   background-color: #efe22cd3;
   transition: background-color 0.2s;
   transition-timing-function: ease-in;
}
.box1-inner:hover::after {
   background-color: #e38f1abb;
}

/* box 2 */
#box2 .box-inner {
   background-color: beige;
   background-position: 50%;
}
#detail-box {
   width: inherit;
   background-color: inherit;
   background-blend-mode: soft-light;
}
#detail-content {
   display: flex;
}
#detail-content div {
   margin: 0 2%;
}
#detail-desc {
   flex-grow: 1;
   padding-top: 2%;
   padding-bottom: 2%;
   font-size: 20px;
   text-align: justify;
}